.about {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 80px 0;
}
.about__face {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  border-radius: 50%;
  object-position: top;
  object-fit: cover;
  margin-left: 104px;
}
.about__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 40px;
  line-height: 46px;
  font-weight: normal;
  margin: 0;
}
.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 56px;
  margin-right: 104px;
  height: 361px;
  max-width: 596px;
}
.about__item {
  margin-bottom: 24px;
}
.about__paragraph {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .about__face {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .about {
    padding: 38px 0 61px;
  }
  .about__face {
    margin-left: 40px;
    width: 232px;
    height: 232px;
    margin-top: 24px;
  }
  .about__list {
    margin-left: 32px;
    margin-right: 40px;
    height: max-content;
  }
  .about__title {
    font-size: 30px;
    line-height: 40px;
  }
  .about__item {
    margin-bottom: 9px;
  }
  .about__item:last-of-type {
    margin-top: 23px;
  }
}
@media screen and (max-width: 540px) {
  .about {
    flex-direction: column;
    padding: 32px 0 65px;
  }
  .about__face {
    margin: 0;
    width: 272px;
    height: 272px;
    margin-bottom: 24px;
  }
  .about__list {
    margin: 0 40px;
  }
}
@media screen and (max-width: 420px) {
  .about__list {
    margin: 0 16px;
  }
  .about__item {
    margin-bottom: 18px;
  }
}