.news__photo {
  height: 272px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.news__card {
  border-radius: 15px;
  overflow: hidden;
  background-color: #FFFFFF;
  position: relative;
  width: 100%;
  min-width: 224px;
  max-width: 400px;
}
.news__date {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: #B6BCBF;
  font-size: 18px;
  line-height: 24px;
  padding: 0 24px;
  margin: 0;
  margin-top: 20px;
}
.news__name {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-weight: normal;
  color: black;
  font-size: 26px;
  line-height: 30px;
  margin: 0;
  padding: 0 24px;
  margin-top: 12px;
}
.news__paragraph {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding: 0 24px;
  margin: 0;
  margin-top: 16px;
}
.news__portal {
  font-family: 'Roboto Slab', Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #B6BCBF;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 18px 24px 20px;
  margin: 0;
}
.news__warning {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  padding: 0 10px;
  height: 40px;
  font-size: 10px;
  background: #FFFFFF;
  position: absolute;
  top: 24px;
  right: 69px;
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}
.news__button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 8px;
  border: none;
  background: #FFFFFF;
  cursor: pointer;
}
.news__button:focus {
  outline: none;
}
.news__button:hover ~ .news__warning{
  display: flex;
}
.news__category {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 12px;
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: 8px;
  border: none;
  background: #FFFFFF;
  cursor: pointer;
}
.news__category:focus {
  outline: none;
}
.icon-rectangle {
  background-image: url(../../images/rectangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-rectangle:hover{
  background-image: url(../../images/rectangle-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-rectangle:focus {
  background-image: url(../../images/rectangle-save.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-delete {
  background-image: url(../../images/delete.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-delete:hover{
  background-image: url(../../images/delete-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .news__card {
    max-width: 288px;
  }
  .news__photo {
    height: 150px;
  }
  .news__button {
    top: 8px;
    right: 8px;
  }
  .news__date {
    margin-top: 12px;
    padding: 0 16px;
  }
  .news__name {
    font-size: 22px;
    line-height: 24px;
    padding: 0 16px;
  }
  .news__paragraph {
    padding: 0 16px;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }
  .news__button:hover ~ .news__warning{
    display: none;
  }
  .news__portal {
    padding: 12px 16px 16px;
  }
  .news__load {
    margin-bottom: 40px;
  }
  .news__category {
    top: 8px;
    left: 8px;
  }
}
@media screen and (max-width: 420px) {
  .news__photo {
    height: 196px;
  }
  .news__category {
    top: 16px;
    left: 16px;
  }
  .news__button {
    top: 16px;
    right: 16px;
  }
  .news__portal {
    padding: 10px 16px 16px;
  }
  .news__load {
    width: 288px;
    margin-bottom: 28px;
  }
}