@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
.page {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto', Arial, sans-serif;
}
